@import './base.css';

*{
  box-sizing: border-box;
}
.btn-purple{
  display: block;
  width: 140px;
  margin: auto;
  background-color: #572589;  
  color: white;
  border:none;
  padding: 5px 25px;
  border-radius: 3px;
  position: relative;
  bottom: 15px;
  text-decoration: none;
}
.btn-purple:hover{
color: white;
}
.card{
  border: none !important;
}
.rating {
  top: 10px;
  width: 50px;
  height: 20px;
  background: white;
  left: 15px;
}
.h-10 {
  height: 160px !important;
}